@import "src/styles";


.errorWrapper {
  background-color: $shadedBlue;
  color: $shadedBlueTxt;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.errorWrapper>div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.title {
  padding: 1em 0 0.5em 0;
  font-size: 2em;
}

.description div {
  max-width: 20vw;
}

.link a{
  padding: 0.5em 0 0 0;
  text-decoration: underline;
  color: $shadedBlueLink;
}
