@import "src/styles";

.toolbar {
  height: $headerHeight;
  background-color: $shadedBlue;
  color: $shadedBlueTxt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.iconWrapper {
  float: right;
}

.logo {
  display: flex;
  align-items: center;
}

.navigationItems{
  justify-content: right;
}
