@import "src/styles";

.blurryWrapperIn {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whiteWrapper {
  position: relative;
  background-color: $blurryWrapperBox;
  width: 30vw;
  min-width: 400px;
  min-height: 600px;
  border-radius: 25px;
  padding: 1em;


  .title {
    margin: 1em 0;
    color: $shadedBlue;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

  .lien {
    text-align: center;
    a {
      text-decoration: none;
      color: $shadedBlueLink;
    }
  }

  .formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    button {
      background-color: $shadedBlue;
      color: $shadedBlueTxt;
      margin: 1em 0;
      border-radius: 5px;
      border: 0;
      padding: 0.5em;
      font-weight: bold;
      font-size: small;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      cursor: pointer;
    }

    .example-form {
      margin: 1vh 0;
      color: $shadedBlue;
      display: flex;
      flex-direction: column;
    }
  }
}

.close {
  color: $blurryWrapperBox;
  z-index: 3;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  cursor: pointer;
  background-color: $shadedBlueLink;
}
