<div class="blurryWrapperIn">
  <div class="whiteWrapper">
    <button mat-mini-fab class="close" (click)="close.emit()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="header_wrapper">
      <H3>Formulaire de personalité</H3>
      <ol>
        <li class="form_line header_line">
          <div></div>
          <div class="radio_button_wrapper">
            <div class="radio">Pas d'accord</div>
            <div class="radio">Plutôt pas d'accord</div>
            <div class="radio">Plutôt d'accord</div>
            <div class="radio">D'accord</div>
          </div>
        </li>
      </ol>
    </div>

  <div class="scroll_wrapper">
    <ol>
      <li *ngFor="let question of questionList; let index = index" class="form_line">
        <div>
          {{index + 1 + ' . '}}{{question.intitule}}
        </div>
        <mat-radio-group aria-label="Select an option" class="radio_button_wrapper" [(ngModel)]="userAnswer[index]">

          <div class="radio" *ngFor="let answer of question.answer; let index2 = index">
            <mat-radio-button [value]="index2"></mat-radio-button>
          </div>
        </mat-radio-group>
      </li>
    </ol>
    <button class="button" (click)="printResult()">Obtenir mes résultats</button>
  </div>
</div>
</div>
