<div class="wrapper">
  <app-navigation-bar class="header"></app-navigation-bar>
  <div class="pageWrapper">
    <div class="pageBox">
      <div class="boxTitle">
        Profil
      </div>
      <div class="form">
        <div *ngIf="error === null" class="list">
        <div class="line">
          <div class="label">Pseudo :</div>
          <div class="content">{{profil.username}}</div>
        </div>
        <div class="line">
          <div class="label">Prénom :</div>
          <div class="content">{{profil.firstname}}</div>
        </div>
        <div class="line">
          <div class="label">Nom :</div>
          <div class="content">{{profil.lastname}}</div>
        </div>
        <div class="line">
          <div class="label">Email :</div>
          <div class="content">{{profil.email}}</div>
        </div>
        </div>
        <div *ngIf="error">
          {{error}}
        </div>
      </div>
    </div>
  </div>
</div>
