<div class="wrapperLandingPage">
  <mat-toolbar class="toolbar">
    <div class="logo">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <img src="./assets/logo_txt_white.png" height="150">
    </div>
    <div class="iconWrapper">
      <button (click)="openRegisterLogin(false, true)" class="loginButton">Connexion</button>
      <button (click)="openRegisterLogin(true, false)" class="registerButton">Inscription</button>
    </div>
  </mat-toolbar>

  <div class="content">
    content
  </div>
  <div class="footer">
    <div>
      ©Learn: tout droits reservés
    </div>
    <div>
      Crédit: sernat_m, places_m, studer_j, bury_l, saiden_o, bardin_m
    </div>
  </div>
  <div class="blurryBackground" *ngIf="login || register">
    <button mat-mini-fab class="close" (click)="openRegisterLogin(false, false)">
      <mat-icon>close</mat-icon>
    </button>
    <app-login *ngIf="login"></app-login>
    <app-register *ngIf="register"></app-register>
  </div>
</div>
