/* You can add global styles to this file, and also import other style files */

$shadedBlue: #3D73A8;
$shadedBlueTxt: white;
$shadedBlueLink: orange;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}
