.my_media {
    display: block;
    margin-top: 16em;
    margin-left: auto;
    margin-right: auto;
    width: 23em;
}

#audio {
    display: none;
}

.my_form {
    display: none;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}